<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>

    <style>

        body{
            font-family: Arial;
            padding: 40px;
        }

        .profile-box{
            width: 400px;
            margin: auto;
            border: 1px solid #ddd;
            padding: 30px;
            border-radius: 10px;
        }

        h1{
            text-align: center;
        }

        p{
            font-size: 18px;
        }

    </style>

</head>
<body>

<div class="profile-box">

    <h1>My Profile</h1>

    <p>
        <strong>Username:</strong>
        {{ user.username }}
    </p>

    <p>
        <strong>Email:</strong>
        {{ user.email }}
    </p>

    <p>
        <strong>Phone:</strong>
        {{ user.phone }}
    </p>

    <p>
        <strong>Role:</strong>
        {{ user.role }}
    </p>
    <a href="{% url 'edit_profile' %}">
    <button>
        Edit Profile
    </button>
</a>

</div>

</body>
</html>